<body>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h3>Welcome to the Lease Mileage Calculator!</h3>
      <p class="p-main">
        This app was created for anyone who is currently leasing a car, and wonders if they will be over the allotted amount of miles at the end of their lease. Enter in your initial lease date, miles per year, and lease term, and the app will return the exact mileage your car should have based on today's date.
      </p>

      <button class="page-scroll btn btn-primary" />
        <a href="#lease-form">Get Started!</a>
        
    </div>
  </div>
</body>
