<h1>Welcome to the Calculator App!</h1>
<p>This app was created by me <a href="https://github.com/piercebelton">(Pierce Belton)</a> to calculate specific situations on the fly. Currently I have created two pages: <br><br></p>

<p>1. <a href="/leases">Lease Mileage Calculator:</a><br>
  <p style="text-indent:30px">This page was created for anyone who is currently leasing a car, and wonders if they're going to be over the allotted amount of miles at the end of their lease. Enter in your initial lease date, miles per year, and lease term, and the app will return the exact mileage your car should have based on today's date.</p>
</p>

<p>2. <a href="/wages">Wage Calculator:</a><br>
  <p style="text-indent:30px">This page was created for contractors who need to calculate their billable hours. Enter the date you worked, hours worked, minutes worked, and your hourly rate, and the app will return the exact amount to bill for that day.</p>
</p>
