// Place all the styles related to the LandingPage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


p.p-main{
  font-family: 'Signika', sans-serif;
  font-size: 2em;
  line-height: 1.2em;
}

body{
  background-image: url("ford_fusion.jpg");
  background-repeat: no-repeat;
}
