// Place all the styles related to the LandingPage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


p.p-main{
  font-family: 'Signika', sans-serif;
  font-size: 2em;
  line-height: 1.4em;
}

.flag{
  height: 25em;
  background-image: url('https://ae01.alicdn.com/kf/HTB1.sVZPFXXXXXMXFXXq6xXFXXXH/17-7cm-7-6cm-Crossed-Checkered-Flags-Fashion-Car-Sticker-Vinyl-Black-Silver-S3-6517.jpg_640x640.jpg');
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
}

.start-btn{
  text-align: center;
}
