// Place all the styles related to the LandingPage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


p.p-main{
  font-family: 'Signika', sans-serif;
  font-size: 2em;
  line-height: 1.4em;
}

.flag{
  height: 25em;
  background-image: url(flags.jpg);
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
}

.start-btn{
  text-align: center;
}
